<header id="header" class="header fixed-top d-flex align-items-center">
   <div class="d-flex align-items-center justify-content-between"> <a routerLink="/dashboard" class="logo d-flex align-items-center"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Legancy Life Plans</span> </a> </div>
   <nav class="header-nav ms-auto">
     <ul class="d-flex align-items-center">
       <li> <a class="dropdown-item d-flex align-items-center" routerLink="#"> <i class="bi bi-house-door-fill"></i><span>  Home </span> </a></li>
       <li> <a class="dropdown-item d-flex align-items-center" routerLink="#"> <i class="bi bi-people-fill"></i><span> Trustees </span> </a></li>
       <li> <a class="dropdown-item d-flex align-items-center" routerLink="#"> <i class="bi bi-person-fill"></i><span> Prossionals </span> </a></li>
        <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i class="bi bi-search"></i> </a></li>
       <li> <a class="dropdown-item d-flex align-items-center" routerLink="#">  <span> .........    </span> <span> More </span></a></li>

     </ul>
  </nav>
   <div class="search-bar">
   </div>
   <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
         <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i class="bi bi-search"></i> </a></li>
         <li class="nav-item ">
            
            <li class="nav-item ">  <div class="text-center bg-new"> <button type="submit" class="btn btn-primary">Save Changes</button></div></li>

         <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">  </a>

         </li>
      </ul>
   </nav>
</header>
