<main id="main" class="main">
   <div class="pagetitle">
     <div class="card">
       <div class="card-body bg-Business">
          <h5 class="card-title">Business Details</h5>

       </div>
    </div>

   </div>
   <section class="section">
      <div class="row mb-3">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                 <nav>
                   <ol class="breadcrumb">
                     <li class="breadcrumb-item card-title"><a routerLink="/"><i class="bi bi-house-door">  Profile
                      </i></a></li>
                      <div class="card-body bg">
                        <button type="button" class="btn btn-success">Edit Profile</button>
                     </div>

                 </ol>
               </nav>

               <hr>
                   <div class="card-body pt-3 ">

                      <div class="tab-content pt-2">
                         <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <div class="row mb-3">
                               <div class="col-lg-3 col-md-4 label ">Full Name : </div>
                               <div class="col-lg-9 col-md-8">
                                <div class="col-lg-9 col-md-6"> <input type="text" class="form-control"></div> </div>
                            </div>
                            <div class="row mb-3">
                               <div class="col-lg-3 col-md-4 label">Domain  : </div>
                               <div class="col-lg-9 col-md-6"> <input type="text" class="form-control"></div>
                            </div>
                            <div class="row mb-3">
                               <div class="col-lg-3 col-md-4 label">Gender :</div>
                               <div class="col-lg-7 col-md-4"><fieldset class="row mb-3">

                                 <div class="col-sm-10">

                                    <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked> <label class="form-check-label" for="gridRadios1"> Male  </label></div>
                                    <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"> <label class="form-check-label" for="gridRadios2"> Female </label></div>
                                    <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"> <label class="form-check-label" for="gridRadios2"> Transgender </label></div>
                                 </div>
                              </fieldset></div>
                            </div>
                            <div class="row mb-3">
                             <label for="inputDate" class="col-lg-3 col-md-4 col-form-label">Date Of Birth  :</label>
                        <div class="col-lg-9 col-md-8"> <input type="date" class="form-control"></div>

                            </div>
                            <div class="row mb-3">
                              <div class="col-lg-3 col-md-4 label mb-2">Phone :</div>

                              <div class="col-lg-9 col-md-6 "><label for="inputNumber" class="col-sm-2 col-form-label"></label> <input type="number" class="form-control"></div>
                           </div>

                            <div class="row ">
                             <div class="col-lg-3 col-md-4 label mb-2">Location :</div>
                             <div class="col-lg-9 col-md-8 "><label for="inputAddress2" class="form-label"></label> <input type="text" class="form-control" id="inputAddress2" placeholder="Btm  1st Stage , Old madiwala , Bangalore - 560068"></div>
                          </div>
                         </div>
                         </div>
                   </div>


               </div>
            </div>
         </div>

      </div>
   </section>

 </main>
